/* ======= RESET DO CSS ======= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    font-family: inherit;
}

/* ======= VARIAVEIS DE CORES ======= */
:root {
  --background-page: #f9f9f9;
  --background-container: #eeeeee;
  --background-file-box: #ffffff;
  --background-text-area: #ffffff;
  --border-default: #757575;
  --border-button-hover: #005ecb;
  --primary-blue: #0071ff;
  --primary-blue-hover: #005ecb;
  --background-file-box-hover: #f0f8ff;
  --progress-bar: #0071ff;
  --progress-text: #000000;
  --success-green: #28a745;
  --button-border: #005ecb;
  --button-text: #ffffff;
  --gray-light: #c4c4c4;
  --text-color: #000000;
  --theme-switch: #3a435d;
}
.darkmode{
  --background-page: #070b1d;
  --background-container: #101425;
  --background-file-box: #1b2036;
  --background-text-area: #1b2036;
  --border-default: #7e7e7e;
  --border-button-hover: #005ecb;
  --primary-blue: #0071ff;
  --primary-blue-hover: #005ecb;
  --background-file-box-hover: #232944;
  --progress-bar: #0071ff;
  --progress-text: #000000;
  --success-green: #28a745;
  --button-border: #005ecb;
  --button-text: #ffffff;
  --gray-light: #ccc;
  --text-color: #ffffff;
  --theme-switch: #3a435d;
}

/* ======= LAYOUT PRINCIPAL ======= */
main{
  background-color: var(--background-page);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-container);
  max-width: 900px;
  min-height: 500px; 
  height: auto;
  padding-inline: 55px;
  padding-block: 30px;
  border-radius: 22px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.07);
}

.container_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.container_text h1{
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-blue);
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

.container_text p{
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
}

.file_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-file-box);
  margin-top: 40px;
  border: 1px dashed var(--border-default);
  border-radius: 20px;
  width: 100%;
  min-height: 250px;
  padding: 30px;
  color: var(--text-color);
}

.file_box i{
  font-size: 3rem;
}

.file_box h2{
  font-size: 1.5rem;
  margin-top: 10px;
}

.file_box.dragover {
  border-color: var(--primary-blue);
  background-color: var(--background-file-box-hover);
}

.manual_input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
    border-radius: 20px;
    color: var(--text-color);
}

.manual_input textarea {
  min-height: 250px; 
  padding: 12px;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 12px; 
  border: 1px solid var(--border-default);
  outline: none;
  transition: border-color 0.3s ease;
  background-color: var(--background-text-area);
}

.manual_input textarea:focus {
  border-color: var(--primary-blue);
}

#upload_button {
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}
#upload_button:hover {
  background-color: var(--primary-blue-hover);
}

#email_file {
  display: none;
}

/* ======= BARRA DE CARREGAMENTO ======= */
#upload_status {
  margin-top: 30px;
  width: 100%;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

#file_name {
  flex-grow: 1;
  color: var(--text-color);
}

#progress_container {
  position: relative;
  display: none;
  width: 100%;
  height: 22px;
  background-color: var(--gray-light);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2px;
}

#progress_bar {
  height: 100%;
  width: 0%;
  background-color: var(--progress-bar);
  transition: width 0.3s ease;
}

#progress_text {
  position: absolute;
  top: 45%;
  right: 12px;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--progress-text);
  user-select: none;
}

.success_icon {
  color: var(--success-green);
  font-size: 1.5rem;
}

.submit_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

/* ======= BOTAO DE ENVIO ======= */
.submit_button button{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    height: 40px;
    border: 1px solid var(--button-border);
    border-radius: 10px;
    background-color: var(--primary-blue);
    color: var(--button-text);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.submit_button button:hover{
    background-color: var(--primary-blue-hover);
}

/* ======= SWITCH PARA TROCAR O TEMA ======= */
#theme_switch{
  position: absolute;
  top: 2%;
  right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--background-container);
  cursor: pointer;
}

#theme_switch i{
  color: var(--theme-switch);
  font-size: 1.4rem ;
}
#theme_switch i:last-child{
  display: none;
}
.darkmode #theme_switch i:first-child{
  display: none;
}
.darkmode #theme_switch i:last-child{
  display: block;
}